.gallery-section{

max-width:1200px;

margin:70px auto;

padding:20px;

}

.gallery-section h2{

font-size:42px;

color:#1f3b77;

margin-bottom:10px;

}

.gallery-section p{

font-size:18px;

color:#666;

margin-bottom:40px;

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.gallery img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

cursor:pointer;

transition:.4s;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.gallery img:hover{

transform:translateY(-8px) scale(1.04);

box-shadow:0 20px 40px rgba(0,0,0,.25);

}

/* Lightbox */

.lightbox{

display:none;

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:rgba(0,0,0,.92);

justify-content:center;

align-items:center;

z-index:9999;

animation:fade .3s;

}

.lightbox-img{

max-width:85%;

max-height:85%;

border-radius:10px;

}

.close{

position:absolute;

top:30px;

right:50px;

font-size:55px;

color:white;

cursor:pointer;

}

.prev,

.next{

position:absolute;

top:50%;

transform:translateY(-50%);

font-size:60px;

color:white;

cursor:pointer;

padding:15px;

user-select:none;

}

.prev{

left:30px;

}

.next{

right:30px;

}

@keyframes fade{

from{

opacity:0;

}

to{

opacity:1;

}

}